{% extends 'base.html' %} {% block contenido %}
<h1>Habilidades</h1>
<h2>Conoce a fernando</h2>
<ul>
    <li>Apasionado por la resolución de problemas: Te encanta enfrentarte a desafíos y encontrar soluciones creativas. No te asustan los errores; los ves como oportunidades para aprender y mejorar.
</li>
<li>Curioso y siempre aprendiendo: Siempre estás investigando nuevas tecnologías, lenguajes de programación y herramientas. Tu sed de conocimiento es insaciable.
</li>
<li>Habilidades técnicas sólidas: Dominas varios lenguajes de programación, estructuras de datos y algoritmos. Puedes escribir código limpio y eficiente.
</li>
<li>Comunicador efectivo: Sabes cómo explicar conceptos técnicos de manera clara y concisa. Puedes colaborar con otros desarrolladores y comunicarte con clientes o usuarios finales.
</li>
<li>Enfoque en la calidad del código: Eres meticuloso y te aseguras de que tu código sea legible, bien documentado y siga las mejores prácticas.
</li>
<li>Trabajo en equipo: Disfrutas colaborar con otros programadores en proyectos. Sabes que el trabajo en equipo es fundamental para el éxito. 
</li>
<li>Creativo y adaptable: Encuentras soluciones ingeniosas y no tienes miedo de salir de tu zona de confort. Adaptarte a los cambios es parte de tu naturaleza. 
</li>
<li>Apasionado por la optimización: No te conformas con la primera solución que encuentras. Siempre buscas formas de hacer que tu código sea más rápido y eficiente.
</li>
</ul>
 <img src="{{ url_for('static', filename='pro.jpg') }}" alt="Mi Imagen">
{% endblock %}