{% extends 'base.html' %} {% block contenido %}
<h1>Hobbies</h1>
<ul>
<li>Programar proyectos personales: No hay nada como sumergirse en un proyecto de programación propio. Puedes crear aplicaciones, sitios web o incluso automatizar tareas diarias. </li>
 <li>Hacer ejercicio: Mantenerse activo es importante para la salud física y mental. El ejercicio también puede ayudarte a despejar la mente y encontrar soluciones creativas a los problemas de programación. </li>
 <li>Explorar nuevas tecnologías: Como programador, siempre hay algo nuevo que aprender. Investiga frameworks, bibliotecas o lenguajes de programación que aún no hayas explorado. </li>
 <li>Resolver acertijos y rompecabezas: Los acertijos lógicos y los rompecabezas son excelentes para mantener tu mente ágil y mejorar tus habilidades de resolución de problemas. </li>
 <li>Contribuir a proyectos de código abierto: Únete a comunidades de código abierto y contribuye a proyectos que te interesen. Es una excelente manera de aprender, colaborar y construir tu reputación como programador. </li>
 <li>Aprender música o tocar un instrumento: La música estimula la creatividad y puede ser una forma relajante de desconectar del código. </li>   
 <li>Leer sobre tecnología y desarrollo: Mantente al día con las últimas tendencias en tecnología. Leer blogs, libros o artículos técnicos puede inspirarte y ampliar tus conocimientos. </li>
 <li>Jugar videojuegos: Algunos videojuegos requieren habilidades lógicas y estratégicas similares a las que usas en la programación. Además, son una excelente manera de relajarte.</li>
 <img src="{{ url_for('static', filename='R.jpeg') }}" alt="Mi Imagen"  height="900">
</ul>
{% endblock %}