{% extends 'base.html' %} {% block contenido %}
  <p>Hola tu email es: {{ correo }}</p>
  <p>Tu contraseña es: {{ password }}</p>
  <p>Bienvenido a la plataforma</p>
  <div style="display: flex; justify-content: center; align-items: center; height: 99vh;">
    <form action="/" method="get">
      <label for="nombre">Nombre:</label><br />
      <input type="text" id="nombre" name="nombre" /><br />
      <label for="apellido">Apellido:</label><br />
      <input type="text" id="apellido" name="apellido" /><br />
      <input type="submit" value="Enviar" />
    </form>
    <div>
        <br>
         <br>
          <br>
           <br>
            <br>
             <br>
              <br>
               <br>
               

        
      <p>Hola {{ nombre }} {{ apellido }} es un gusto ser tu asesor, en cualquier caso puedes enviarme un correo a prueba1@gmail.com</p>
    </div>
  </div>
{% endblock %}
